.container {
  height: 30rem;
}

.background {
  background: url("/background.jpg");
  mix-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  z-index: -1;
}

.testimonial {
  background: linear-gradient(
    to bottom right,
    #4d0092 50%,
    rgb(255, 255, 255) 50%
  );
}

.container__contact {
  height: 100vh;
  background: linear-gradient(to bottom, rgb(249, 247, 248), rgb(212, 0, 255));
  z-index: 0;
}

.contact {
  height: 100%;
  z-index: -999;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  background: linear-gradient(to bottom right, #350161, rgb(0, 0, 0));
  height: 100%;
  animation: animator 1s ease-in-out;
  z-index: 999;
}

@keyframes animator {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 40rem;
  }
}
